

.projects-box{
    display: grid;
   grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: auto auto;
    grid-gap: 20px;
    margin: 0 1%;
    text-align: center;
    justify-content: space-around;
    padding-top: 30px;
    
}

@media (max-width: 668px){
    .projects-box{
        display: grid;
       grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-template-rows: auto auto auto auto auto auto;
        grid-row-gap: 20px;
        margin: 0 1%;
        text-align: center;
        justify-content: space-around;
        padding-top: 15px;
        
    }
}